*,
*:before,
*:after {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
html {
  --text-color: white;
  --theme-color: black;
}

main {
  color: var(--text-color);
  background-color: var(--theme-color);
}

.light-theme {
  --text-color: black;
  --theme-color: white;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  color: var(--accent-text);
}

body {
  --backround-color: black;
  --text-color: white;
  --accent-color: hotpink;
  --accent-text: blueviolet;
  --nav-link-active-bg-color: aqua;
  --hire-me-bg-color: plum;
  --hire-me-text-color: yellow;
  margin: 0;
}

*::selection {
  background-color: var(--accent-color);
  color: var(--backround-color);
}

.header {
  padding: 3rem 8.5rem;
  padding-top: 0;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
    90deg,
    var(--theme-color),
    var(--text-color)
  );
}

.main {
  max-width: 60ch;
  margin: 0 auto;
}

.nav-link {
  padding: 4px 8px;
  color: var(--hire-me-text-color);
  /*transition: background-color 0.5s ease-in-out;*/
}

.nav-link:focus {
  /*background-color: var(--accent-color);
  outline-color: var(--backround-color);*/
  outline-style: dotted;
}

.nav-link:hover {
  color: var(--backround-color);
  background-color: var(--accent-color);
}

.nav-link:active {
  color: var(--accent-color);
  background-color: var(--nav-link-active-bg-color);
}

[src] {
  margin: 10px 10px;
  max-height: 199px;
  margin-top: 40px;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 80ch;
  }
}

.main > * + * {
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 8rem;
  }
}

.main > *:first-child {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .main-article-content {
    margin-top: 4rem;
  }
}

.main > *:first-child {
  border-top: none;
}

.main-article {
  border-top: 8px solid var(--accent-text);
  padding: 0px 10px;
}

.emoji-h::after {
  content: "👨‍💻";
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .hire-me {
    position: absolute;
    right: 50px;
    top: 20px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.5;
    background: var(--hire-me-bg-color);
    color: var(--hire-me-text-color);
    transform-origin: top right;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  .header:hover .hire-me,
  .header:focus-within .hire-me {
    opacity: 1;
    transform: scale(1.5);
  }

  @media screen and (min-width: 926px) {
    .hire-me {
      position: fixed;
    }
  }

  @media print {
    .hire-me {
      display: none;
    }

    .navigation {
      display: none;
    }
  }

  .main-article-heading {
    position: relative;
    left: -10px;
  }
}
.outro-cv {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 1rem;
  background-color: var(--accent-text);
  background-image: linear-gradient(
    90deg,
    var(--theme-color),
    var(--text-color)
  );
}
